[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64"]
preview = ["pixi-build"]

[feature.build.activation.env]
CC = "clang"
CMAKE_BUILD_PARALLEL_LEVEL = "4"
CTEST_PARALLEL_LEVEL = "4"
CMAKE_CONFIG_TYPE = "Debug"
CMAKE_BUILD_TYPE = "Debug"
# CMAKE_CONFIG_TYPE = "Release"
# CMAKE_BUILD_TYPE = "Release"
# VERBOSE = "1"
# CFLAGS="-fsanitize=address"
# LDFLAGS="-fsanitize=address"
# CFLAGS="-fsanitize=thread"
# LDFLAGS="-fsanitize=thread"
HDF5_CONFIG_ARGS = "-DHDF5_ENABLE_DEBUG_APIS=ON -DHDF5_ENABLE_TRACE=ON -DHDF5_ENABLE_COVERAGE=ON"

[tasks]
clean = { cmd = "rm -rf build-*" }
conda-list = "cd $CONDA_PREFIX && find ."

[feature.build.dependencies]
clang = "=21"
cmake = "*"
ninja = "*"

[feature.build.tasks]
config = { cmd = "cmake -S hdf5 -B build-local $HDF5_CONFIG_ARGS" }
cmake = { cwd = "build-local", cmd = "cmake --build .", depends-on = ["config"] }
ctest = { cwd = "build-local", cmd = "ctest --output-on-failure" }
cpack = { cwd = "build-local", cmd = "cpack -V" }
smoke-test = { cmd = "./smoke-test-local.sh" }

[feature.conda-test.tasks]
smoke-test = { cmd = "./smoke-test-conda.sh" }

[feature.conda-default.dependencies]
hdf5 = { path = "default" }

[feature.conda-asan.dependencies]
hdf5 = { path = "asan" }

[feature.conda-tsan.dependencies]
hdf5 = { path = "tsan" }

[feature.conda-san.target.osx.activation.env]
# clang version must match {asan,tsan}/recipe.yaml
DYLD_LIBRARY_PATH = "$CONDA_PREFIX/lib/clang/21/lib/darwin"

[feature.h5py.dependencies]
clang = "=21"
pytest = "*"
pytest-mpi = "*"
# h5py build dependencies, needed for --no-build-isolation
packaging = "*"
pkgconfig = "*"
setuptools = "*"
cython = "*"

[feature.h5py.activation.env]
CC = "h5cc"

[feature.h5py.tasks]
h5py-install = "python -m pip install h5py/ -vv --no-build-isolation --no-dependencies"
h5py-smoke-test = "python h5py-smoke-test.py"
h5py-pytest = "python -m pytest --pyargs h5py -sv"

[feature.h5py-default.dependencies]
python.git = "https://github.com/crusaderky/cpython"
python.rev = "tsan"
python.subdirectory = "Tools/pixi-packages/default"
numpy.git = "https://github.com/ngoldbaum/numpy"
numpy.rev = "tsan-ft-pixi"
numpy.subdirectory = "pixi-packages/default"
hdf5 = { path = "default" }

[feature.h5py-default.activation.env]
CFLAGS = "-g"
LDFLAGS = "-g"

[feature.h5py-freethreading.dependencies]
python.git = "https://github.com/crusaderky/cpython"
python.rev = "tsan"
python.subdirectory = "Tools/pixi-packages/freethreading"
numpy.git = "https://github.com/ngoldbaum/numpy"
numpy.rev = "tsan-ft-pixi"
numpy.subdirectory = "pixi-packages/freethreading"
hdf5 = { path = "default" }
pytest-run-parallel = "*"

[feature.h5py-freethreading.activation.env]
CFLAGS = "-g"
LDFLAGS = "-g"

[feature.h5py-asan.dependencies]
python.git = "https://github.com/crusaderky/cpython"
python.rev = "tsan"
python.subdirectory = "Tools/pixi-packages/asan"
numpy.git = "https://github.com/ngoldbaum/numpy"
numpy.rev = "tsan-ft-pixi"
numpy.subdirectory = "pixi-packages/asan"
hdf5 = { path = "asan" }

[feature.h5py-asan.activation.env]
ASAN_OPTIONS = "detect_leaks=0:symbolize=1:strict_init_order=true:allocator_may_return_null=1:use_sigaltstack=0"
CFLAGS = "-g -fsanitize=address"
LDFLAGS = "-g -fsanitize=address"

[feature.h5py-tsan-freethreading.dependencies]
python.git = "https://github.com/crusaderky/cpython"
python.rev = "tsan"
python.subdirectory = "Tools/pixi-packages/tsan-freethreading"
numpy.git = "https://github.com/ngoldbaum/numpy"
numpy.rev = "tsan-ft-pixi"
numpy.subdirectory = "pixi-packages/tsan-freethreading"
hdf5 = { path = "tsan" }
pytest-run-parallel = "*"

[feature.h5py-tsan-freethreading.activation.env]
CFLAGS = "-g -fsanitize=thread"
LDFLAGS = "-g -fsanitize=thread"

[environments]
build = ["build"]
conda-default = ["conda-test", "conda-default"]
conda-asan = ["conda-test", "conda-san", "conda-asan"]
conda-tsan = ["conda-test", "conda-san", "conda-tsan"]
h5py-default = ["conda-test", "h5py", "h5py-default"]
h5py-freethreading = ["conda-test", "h5py", "h5py-freethreading"]
h5py-asan = ["conda-test", "h5py", "h5py-asan"]
h5py-tsan-freethreading = ["conda-test", "h5py", "h5py-tsan-freethreading"]
