[workspace]
name = "hdf5"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64"]

[activation.env]
CMAKE_BUILD_PARALLEL_LEVEL = "4"
CTEST_PARALLEL_LEVEL = "4"
CMAKE_CONFIG_TYPE = "Debug"
CMAKE_BUILD_TYPE = "Debug"
# CMAKE_CONFIG_TYPE = "Release"
# CMAKE_BUILD_TYPE = "Release"
HDF5_CONFIG_ARGS = "-DHDF5_ENABLE_DEBUG_APIS=ON -DHDF5_ENABLE_TRACE=ON -DHDF5_ENABLE_COVERAGE=ON"

[tasks]
clean = { cmd = "rm -rf build conda-bld" }

[feature.build.dependencies]
cmake = "*"
compilers = "*"
ninja = "*"
openjdk = "*"

[feature.build.tasks]
config = { cmd = "cmake -S hdf5 -B build $HDF5_CONFIG_ARGS" }
build = { cwd = "build", cmd = "cmake --build .", depends-on = ["config"] }
test = { cwd = "build", cmd = "ctest --output-on-failure" }
pack = { cwd = "build", cmd = "cpack -V" }

[feature.conda-build.dependencies]
boa = "*"
conda-build = "*"
conda-verify = "*"

[feature.conda-build.tasks]
conda-mambabuild = { cmd = "conda mambabuild recipe --output-folder conda-bld" }
conda-verify = { cmd = "conda-verify conda-bld/**/*.tar.bz2" }
conda-build = { depends-on = ["conda-mambabuild", "conda-verify"] }

[environments]
build = ["build"]
conda-build = ["conda-build"]
