name: h5py

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]
  workflow_dispatch: # allows you to trigger manually

defaults:
  run:
    shell: bash -l {0}

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: h5py-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }} - ${{ matrix.variant }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest # x86-64
          - ubuntu-24.04-arm # ARM
          - macos-15-intel # x86-64
          - macos-latest # ARM
        variant:
          - default
          - asan
          - freethreading
          - tsan-freethreading

    steps:
      - name: Checkout hdf5-pixi and hdf5
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - uses: prefix-dev/setup-pixi@v0
        with:
          pixi-version: v0.62.2
          environments: h5py-${{ matrix.variant }}

      - name: List conda packages
        run: pixi ls -e h5py-${{ matrix.variant }}

      - name: List files in conda environment
        run: pixi run -e h5py-${{ matrix.variant }} conda-list

      - name: Build and install h5py
        run: pixi run -e h5py-${{ matrix.variant }} h5py-install
    
      - name: Smoke test
        run: pixi run -e h5py-${{ matrix.variant }} h5py-smoke-test

      - name: Pytest
        run: pixi run -e h5py-${{ matrix.variant }} h5py-pytest
